html {
  --color-grey: #333;
  --color-white: #eaeaea;
}
img {
  width: 100%;
  height: auto;
}
body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-grey);
  color: var(--color-white);
  font-size: 1.1em;
  text-align: center;
}
.grid-2col {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 500px)) 1fr;
}
.header-wrap,
.section1-wrap,
.section3-wrap {
  grid-column: 2/4;
}
.footer-column1,
.section4-ContactUs {
  grid-column: 2/3;
}
.footer-column2,
.section4-AboutUs {
  grid-column: 3/4;
}
.section2 {
  display: grid;
  grid-template-columns: 1fr repeat(3, minmax(auto, 330px)) 1fr;
  gap: 15px;
  grid-template-areas: ". webDevelopment mobileApp techMarketing .";
}
.web-development {
  grid-area: webDevelopment;
}
.mobile-app {
  grid-area: mobileApp;
}
.tech-marketing {
  grid-area: techMarketing;
}
